
body {
  font-family: sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

select, input, textarea, button {
  font-size: 1rem;
}
@media print {
  body * {
    visibility: hidden;
  }

  .comunicat-impressio, .comunicat-impressio * {
    visibility: visible;
  }

  .comunicat-impressio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  button, .no-print {
    display: none !important;
  }
}